.betting-coupons {
	top: 90px;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	
	background: $Dark;
	
	border: solid 1px $Grey;
	border-radius: 14px;
	
	overflow: hidden;
	
	& > div {
		width: 100%;
	}
}

.betting-coupons__event-info {
	padding: 2rem 0;
	position: relative;
	
	.betting-coupons__event-info-teams {
		display: flex;
		
		.betting-coupons__event-info-team {
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			
			.event-info-team__logo {
				margin: 1rem 0;
				// width: 20%;
			}
		}
	}
	
	.betting-coupons__event-info-match {
		margin-top: -3rem;
		text-align: center;
		padding: 0;
		
		.betting-coupons__event-info-match-time {
			font-size: 14px;
			font-weight: 600;
		}
		
		.betting-coupons__event-info-match-date {
			font-size: 10px;
			opacity: 0.5;
			line-height: 1.5;
			margin-bottom: 8px;
		}
		
		.betting-coupons__event-info-match-timer {
			font-size: 12px;
			line-height: 1.5;
			font-weight: 400;
			opacity: 0.5;
		}
	}
}

.betting-coupons__controls {
	display: grid;
	grid-gap: 0;
	grid-template-columns: repeat(2, 1fr);
	
	border-bottom: solid 1px $Grey;
}

.betting-coupons__control-btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	height: 44px;
	width: 100%;
	
	padding-left: 15px;
	padding-right: 15px;
	
	background: rgba(217, 217, 217, 0.05);
	
	user-select: none;
	cursor: pointer;
	
	&:first-child {
		border-right: solid 1px $Grey;
	}
}

.betting-coupons__control-btn--active {
	background: linear-gradient(90deg, rgba(68, 111, 221, 0.55) 0%, rgba(68, 111, 221, 0.11) 100%);
}

.betting-coupons__list {
	border-bottom: solid 1px $Grey;
	
	max-height: 400px;
	min-height: 230px;
	overflow-y: auto;
}

.betting-coupons__item {
	width: 100%;
	padding: 15px;
	
	border-bottom: solid 1px $Grey;
	
	animation: createCouponItem 1s ease-in;
	
	&:last-child {
		border-bottom: none;
	}
}

.betting-coupons__item-row {
	justify-content: space-between;
	align-items: center;
	
	margin-bottom: 9px;
}

.betting-coupons__item-teams {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
	padding-right: 20px;
}

.betting-coupons_item-date {
	min-width: 140px;
	justify-content: flex-end;
}

.betting-coupons__item-grid {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: 70px auto 18px;
	
	& > div {
		@extend .flex-column;
		justify-content: center;
	}
}

.betting-coupons__item-btn {
	padding-left: 15px;
	padding-right: 15px;
	
	width: 100%;
}

.betting-coupons__item-winner {
	justify-content: space-between;
}

.betting-coupons__item-winner-name {
	margin-bottom: 4px;
}

.betting-coupons__item-remove-btn {
	display: inline-flex;
	
	width: 20px;
	height: 20px;
	
	background-color: transparent;
	background-image: url('../img/coupon-remove.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	
	border: none;
	box-shadow: none;
	user-select: none;
	cursor: pointer;
	
	transition: $transitionHover;
	
	&:hover {
		opacity: .6;
	}
}

.betting-coupons__actions {
	padding: 15px;
}

.betting-coupons__sum {
	display: block;
	position: relative;
	
	margin-bottom: 15px;
	
	&::after {
		content: '';
		
		position: absolute;
		
		right: 15px;
		top: 9px;
		
		width: 30px;
		height: 30px;
		
		background-image: url("../img/betting-coupons__maran-icon.svg");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.betting-coupons__input-sum {
	width: 100%;
}

.betting-coupons__variants {
	display: grid;
	grid-gap: 7px;
	grid-template-columns: repeat(4, 1fr);
	
	margin-bottom: 15px;
}

.betting-coupons__rewards {
	margin-bottom: 15px;
}

.betting-coupons__reward-row {
	justify-content: space-between;
	align-items: flex-start;
	
	margin-bottom: 6px;
	
	&:last-child {
		margin-bottom: 0;
	}
}

.betting-coupons__add {
	width: 100%;
}

/* lines */
.betting-coupons__lines {
	width: 100%;
	
	max-height: 480px;
	overflow-y: auto;
}

.betting-coupons__line {
	width: 100%;
}

.betting-coupons__line-name {
	width: 100%;
	justify-content: space-between;
	align-items: center;
	
	padding: 12px 15px;
	
	background: rgba(217, 217, 217, 0.05);
}

.betting-coupons__line-count {
	justify-content: flex-start;
	align-items: center;
	
	&::after {
		content: '';
		
		display: inline-flex;
		
		width: 20px;
		height: 20px;
		
		margin-left: 6px;
		
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url('../img/betting-coupons__maran-icon.svg');
	}
}

.betting-coupons__no-coupons {
	padding: 40px 30px;
	min-height: 230px;
}

.betting-coupons__no-coupons-image {
	display: block;
	margin: 0 auto 10px;
}

.no-coupons__text {
	display: block;
	width: 100%;
	text-align: center;
	opacity: .6;
}

@keyframes createCouponItem {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.betting-coupons__tab-nav {
	margin-top: -32px;
}

.betting-coupons__tab-nav-item {
	flex: 1;
	justify-content: center;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
}

.betting-coupons__event-info-results {
	display: flex;
	width: 125px;
	height: 20px;
	border-radius: 4px;
	overflow: hidden;
	background: #d5d6da;
}

.betting-coupons__event-info-result-type {
	width: 25px;
	min-width: 25px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 13px;
	font-weight: 500;
	text-align: center;
}

.betting-coupons__event-info-result-type.win {
	background: #26A17B;
}

.betting-coupons__event-info-result-type.lose {
	background: #D80027;
}

.betting-coupons__event-info-result-type.draw {
	background: #838383;
}

.betting-coupons__players {
	padding: 5px 15px;
	overflow: hidden;
}

.betting-coupons__player span {
	font-size: 14px;
	margin-top: 7px;
	overflow: hidden;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	display: -webkit-box;
}

.betting-coupons__sticky-sidebar .betting-coupons {
	top: 0;
}

.betting-coupons__hint {
	font-size: 12px;
	text-align: center;
	margin: 10px 0;
}

.betting-coupons__event-info-match__center {
	min-width: 70px;
}

.betting-coupons__event-info-match {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 25px;
}

.betting-coupons__event-info-match__team {
	flex: 1;
}

.betting-coupons__event-info-match__team-logo {
	width: 100%;
	display: flex;
	align-items: center;
	
	img {
		max-width: 50px;
		height: 50px;
	}
}

// .betting-coupons__event-info-match__team-logo.team-home {
// 	padding-right: 36px;
// 	justify-content: flex-end;
// }

.betting-coupons__event-info-match__team-logo.team-away {
	padding-left: 36px;
	justify-content: flex-start;
}

.betting-coupons__event-info-match-score {
	font-size: 27px;
	line-height: 1.4;
	font-weight: 600;
}