.home-icon {
  background-image: url('../img/sport-icons/home.svg');
}

.football-icon {
  background-image: url('../img/sport-icons/football.svg');
}

.basketball-icon {
  background-image: url('../img/sport-icons/basketball.svg');
}

.tennis-icon {
  background-image: url('../img/sport-icons/tennis.svg');
}

.hockey-icon {
  background-image: url('../img/sport-icons/hockey.svg');
}

.volleyball-icon {
  background-image: url('../img/sport-icons/volleyball.svg');
}

.ping-pong-icon {
  background-image: url('../img/sport-icons/ping-pong.svg');
}

.handball-icon {
  background-image: url('../img/sport-icons/handball.svg');
}

.floorball-icon {
  background-image: url('../img/sport-icons/floorball.svg');
}

.motosport-icon {
  background-image: url('../img/sport-icons/motosport.svg');
}

.rugby-icon {
  background-image: url('../img/sport-icons/rugby.svg');
}

.aussie-rules-icon {
  background-image: url('../img/sport-icons/aussie-rules.svg');
}

.bandy-icon {
  background-image: url('../img/sport-icons/bandy.svg');
}

.snooker-icon {
  background-image: url('../img/sport-icons/snooker.svg');
}

.dart-board-icon {
  background-image: url('../img/sport-icons/dart-board.svg');
}

.cricket-icon {
  background-image: url('../img/sport-icons/cricket.svg');
}

.american-football-icon {
  background-image: url('../img/sport-icons/american-football.svg');
}

.baseball-icon {
  background-image: url('../img/sport-icons/baseball.svg');
}

.water-polo-icon {
  background-image: url('../img/sport-icons/water-polo.svg');
}

.futsal-icon {
  background-image: url('../img/sport-icons/futsal.svg');
}

.badminton-icon {
  background-image: url('../img/sport-icons/badminton.svg');
}

.beach-voleyball-icon {
  background-image: url('../img/sport-icons/beach-voleyball.svg');
}

.esports-icon {
  background-image: url('../img/sport-icons/esports.svg');
}

.ice-hockey-icon {
  background-image: url('../img/sport-icons/ice-hockey.svg');
}

.cricet-icon {
  background-image: url('../img/sport-icons/cricet.svg');
}

.darts-icon {
  background-image: url('../img/sport-icons/darts.svg');
}

.waterpolo-icon {
  background-image: url('../img/sport-icons/waterpolo.svg');
}

.table-tennis-icon {
  background-image: url('../img/sport-icons/table-tennis.svg');
}

.boxing-icon {
  background-image: url('../img/sport-icons/boxing.svg');
}

.golf-icon {
  background-image: url('../img/sport-icons/golf.svg');
}

.field-hockey-icon {
  background-image: url('../img/sport-icons/field-hockey.svg');
}

.mma-icon {
  background-image: url('../img/sport-icons/mma.svg');
}

.netball-icon {
  background-image: url('../img/sport-icons/netball.svg');
}

.pesapallo-icon {
  background-image: url('../img/sport-icons/pesapallo.svg');
}

.motorsport-icon {
  background-image: url('../img/sport-icons/motorsport.svg');
}

.horse-racing-icon {
  background-image: url('../img/sport-icons/horse-racing.svg');
}

.ski-jumping-icon {
  background-image: url('../img/sport-icons/ski-jumping.svg');
}

.alpine-skiing-icon {
  background-image: url('../img/sport-icons/alpine-skiing.svg');
}

.cross-country-icon {
  background-image: url('../img/sport-icons/cross-country.svg');
}

.biathlon-icon {
  background-image: url('../img/sport-icons/biathlon.svg');
}

.cycling-icon {
  background-image: url('../img/sport-icons/cycling.svg');
}

.beach-football-icon {
  background-image: url('../img/sport-icons/beach-football.svg');
}

.field-hockey-icon {
  background-image: url('../img/sport-icons/field-hockey.svg');
}

.beach-volley-icon {
  background-image: url('../img/sport-icons/beach-volley.svg');
}