.about-company {
  padding-top: 70px;
}

.about-company__container {
  width: 910px;
}

.about-company-banner__heading {
  width: 615px;
  max-width: 100%;
}

.about-company-banner__heading {
  margin-bottom: 60px;
}